<form action="<?php echo _url('extension', 'configure', 'e', urlencode($this->getName())); ?>" method="post">
	<input type="hidden" name="_csrf" value="<?php echo FreshRSS_Auth::csrfToken(); ?>" />
	<div class="form-group">
		<label class="group-name" for="mouseover_expand"><?php echo _t('ext.feed_overlay.mouseover_expand'); ?></label>
		<div class="group-controls">
            <input type="checkbox" id="mouseover_expand" name="mouseover_expand" value="1" <?php if (FreshRSS_Context::$user_conf->mouseover_expand != '') { echo 'checked'; }; ?>>
		</div>

	<div class="form-group form-actions">
		<div class="group-controls">
			<button type="submit" class="btn btn-important"><?php echo _t('gen.action.submit'); ?></button>
			<button type="reset" class="btn"><?php echo _t('gen.action.cancel'); ?></button>
		</div>
	</div>
</form>

<p>
	<?php echo _t('ext.feed_overlay.updates'); ?>
	<a href="https://gitlab.com/knasdk1/freshrss-feed-overlay" target="_blank">
        <?php echo _t('ext.feed_overlay.here');?>
    </a>.
</p>
