.feedOverlay {
    position: absolute;
    width: 80%;
    height: 500px;
    right: 8px;
    z-index: 1;
    border: solid 2px black;
    display: none;
    background-color: #ffffff;
    padding: 10px;
}

.feedOverlay .feedOverlayCloseButton {
    position: absolute;
    left: -37px;
    height: 30px;
    width: 35px;
    background-color: #ffffff;
    top: -2px;
    text-align: center;
    padding-top: 7px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-left: solid 2px black;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.feedOverlay iframe {
    border: none;
}

.feedOverlayOpenButton {
    float: right;
    margin-left: 10px;
}
